@page
@model Festejar.Pages.InternoCasaModel
@{
}
﻿
﻿
<!DOCTYPE html>
<html lang="en">
<body>
   
    <div class="breadcrumb-area breadcrumb-padding">
        <div class="container custom-container-one">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-contents">
                        <h4 class="breadcrumb-contents-title"> Detalhes da casa </h4>
                        <ul class="breadcrumb-contents-list list-style-none">
                            <li class="breadcrumb-contents-list-item"> <a href="index.html" class="breadcrumb-contents-list-item-link"> Home </a> </li>
                            <li class="breadcrumb-contents-list-item"> <a href="listing.html" class="breadcrumb-contents-list-item-link"> Casas </a> </li>
                            <li class="breadcrumb-contents-list-item"> Detalhes do espaço </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="hotel-details-area section-bg-2 pat-100 pab-100">
        <form id="dataForm" method="post">
        <div class="container">
            <div class="row g-4">               
                <div class="col-xl-8 col-lg-7">
                    <div class="details-left-wrapper">
                        <div class="details-contents bg-white radius-10">
                                <div class="details-contents-header">
                                    <div class="details-contents-thumb details-contents-main-thumb bg-image" style="background-image: url('@Model.Imagens_casas[0].Caminho')">
                                    </div>
                                    <div class="mt-4 row">
                                        @for (int i = 1; i < Model.Imagens_casas.Count; i++)
                                        {
                                            <div class="details-contents-header-thumb col-lg-6 col-md-12">
                                                <img src="@Model.Imagens_casas[i].Caminho" alt="img">
                                            </div>
                                        }
                                        @*<a href="javascript:void(0)" class="more-photos"> <i class="las la-plus"></i> Mais Fotos </a>*@
                                    </div>
                                </div>


                            <div class="hotel-view-contents">
                                <div class="hotel-view-contents-header">
                                    <span class="hotel-view-contents-review"> <i class="las la-star"></i> 4.5 <span class="hotel-view-contents-review-count"> (380) </span> </span>
                                    <h3 class="hotel-view-contents-title"> @Model.InternoCasa.Titulo </h3>
                                    <div class="hotel-view-contents-location mt-2">
                                        <span class="hotel-view-contents-location-icon"> <i class="las la-map-marker-alt"></i> </span>
                                        <span class="hotel-view-contents-location-para"> @Model.InternoCasa.Endereco </span>
                                    </div>
                                </div>
                                <div class="hotel-view-contents-middle">
                                    <div class="hotel-view-contents-flex">
                                        @*percorre a variavel Comodidades da viewdata que possui o join no backend*@
                                        @foreach (var comodidade in (IEnumerable<dynamic>)ViewData["Comodidades"])
                                        {                                         
                                                foreach (var item in comodidade)
                                                {
                                                    <div class="hotel-view-contents-icon d-flex gap-1">
                                                        <span> <i class="las la-Piscina de Bolinha"></i> </span>
                                                        <p class="hotel-view-contents-icon-title flex-fill">@item.Titulo</p>
                                                    </div>
                                                }                                          
                                        }
                                    </div>
                                </div>
                                <div class="hotel-view-contents-bottom">
                                    <div class="hotel-view-contents-bottom-flex">
                                        <div class="hotel-view-contents-bottom-contents">
                                            <h4 class="hotel-view-contents-bottom-title"> @ViewData["ValorDiaria"] <sub>/Diaria</sub> </h4>
                                            <p class="hotel-view-contents-bottom-para"> (4 Nights, 2 Rooms, 4 Persons) </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="details-contents-tab">
                                <ul class="tabs details-tab details-tab-border">
                                    <li class="active" data-tab="about"> Sobre </li>
                                    <li data-tab="reviews"> Avaliações </li>
                                </ul>
                                <div id="about" class="tab-content-item active">
                                    <div class="about-tab-contents">
                                        <p class="about-tab-contents-para"> @Model.InternoCasa.Descricao </p>
                                    </div>
                                </div>
                                <div id="reviews" class="tab-content-item">
                                    <div class="review-tab-contents">
                                        <div class="review-tab-contents-single">
                                            <div class="rating-wrap">
                                                <div class="ratings">
                                                    <span class="hide-rating"></span>
                                                    <span class="show-rating"></span>
                                                </div>
                                                <p> <span class="total-ratings">(167)</span></p>
                                            </div>
                                            <p class="about-review-para mt-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a egestas leo. Aliquam ut ante lobortis tellus cursus pellentesque. Praesent feugiat tellus quis aliquet </p>
                                            <div class="review-tab-contents-author mt-4">
                                                <h4 class="review-tab-contents-author-name"> Sandra M. Hurt </h4>
                                                <p class="review-tab-contents-author-para mt-2"> TrustPilot </p>
                                            </div>
                                        </div>
                                        <div class="review-tab-contents-single">
                                            <div class="rating-wrap">
                                                <div class="ratings">
                                                    <span class="hide-rating"></span>
                                                    <span class="show-rating"></span>
                                                </div>
                                                <p> <span class="total-ratings">(236)</span></p>
                                            </div>
                                            <p class="about-review-para mt-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a egestas leo. Aliquam ut ante lobortis tellus cursus pellentesque. Praesent feugiat tellus quis aliquet </p>
                                            <div class="review-tab-contents-author mt-4">
                                                <h4 class="review-tab-contents-author-name"> Robert Fox </h4>
                                                <p class="review-tab-contents-author-para mt-2"> Designer </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="decoration">
                                <div class="row">
                                    @for (int i = 0; i < ((IEnumerable<dynamic>)ViewData["CasasRecursos"]).Count(); i++)
                                    {
                                        var casaRecurso = ((IEnumerable<dynamic>)ViewData["CasasRecursos"]).ElementAt(i);

                                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                                            <div class="deco_box">
                                                @*<input type="hidden" name="recursoId" value="">*@
                                                @*<input type="hidden" id="quantidade" name="quantidade" value="">*@
                                                <label class="deco_title">@casaRecurso.Titulo</label>
                                                <figure>
                                                    <img src="https://cdn.icon-icons.com/icons2/1744/PNG/512/3643766-album-image-landscape-photo-photos-picture_113407.png" alt="Item">
                                                </figure>
                                                <span class="price_one">Valor Und.: R$@casaRecurso.Valor</span>
                                                <div class="deco_qtd">
                                                    <button type="button" class="btn btn-danger decrement">-</button>
                                                    @if (Model.QuantidadeRecursos != null && Model.RecrusosReload != null)
                                                    {
                                                        <input type="text" class="quantity" value="@Model.QuantidadeRecursos[i]" data-max="@casaRecurso.Quantidade" data-valor="@casaRecurso.Valor">
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="quantity" value="0" data-max="@casaRecurso.Quantidade" data-valor="@casaRecurso.Valor">
                                                    }
                                                    <button data-id="@casaRecurso.Id" type="button" class="btn btn-danger increment">+</button>
                                                </div>
                                                <div class="deco_foot">
                                                    <span class="deco_disponivel">Disponível: @casaRecurso.Quantidade</span>
                                                    <span class="total-value">Total: R$0.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="sticky-top">
                        <div class="hotel-details-widget hotel-details-widget-padding widget bg-white radius-10">
                            <div class="details-sidebar">                               
                                <div class="details-sidebar-dropdown custom-form">                                   
                                        <div class="single-input">
                                            <label class="details-sidebar-dropdown-title"> Selecione uma data: </label>
                                            <input id="dataInput" value="@((ViewData["DataSelecionada"] != null) ? ((DateTime)ViewData["DataSelecionada"]).ToString("yyyy/MM/dd") : "")" class="form--control date-picker" type="text" name="
" placeholder="@((ViewData["DataSelecionada"] != null) ? ((DateTime)ViewData["DataSelecionada"]).ToString("dd/MM/yyy") : "Data desejada:")" />
                                        </div>                                   
                                </div>                               
                                    <div class="details-sidebar-quantity pt-4">
                                        <div class="details-sidebar-quantity-flex">
                                            <div class="details-sidebar-quantity-item">
                                                <h6 class="details-sidebar-quantity-title"> Convidados </h6>
                                                <div class="details-sidebar-quantity-field">
                                                    <span class="minus"><i class="las la-minus"></i></span><input class="quantity-input" type="number" name="convidados" value="0"><span class="plus"><i class="las la-plus"></i></span>
                                                </div>
                                            </div>
                                            <div class="details-sidebar-quantity-item">
                                                <h6 class="details-sidebar-quantity-title"> Crianças </h6>
                                                <div class="details-sidebar-quantity-field">
                                                    <span class="minus"><i class="las la-minus"></i></span><input class="quantity-input" type="number" name="criancas" value="0"><span class="plus"><i class="las la-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-wrapper mt-4">
                                        <input type="hidden" name="valorDiaria" value="@ViewData["ValorDiaria"]" />
                                        <input type="hidden" name="dataReserva" value="@ViewData["DataSelecionada"]" />
                                        <input type="hidden" name="casaId" value="@Model.InternoCasa.Id" />
                                        <button type="submit" class="cmn-btn btn-bg-1 btn-small" asp-page-handler="Checkout"> Agendar reserva </button>
                                    </div>                               
                            </div>
                        </div>

                        <div class="hotel-details-widget widget bg-white radius-10">
                            <div class="hotel-view">
                                <div class="hotel-view-thumb hotel-view-grid-thumb bg-image" style="background-image: url(/img/shots/img8.jpeg);">
                                </div>
                                <div class="hotel-view-contents">
                                    <div class="hotel-view-contents-header">
                                        <span class="hotel-view-contents-review"> <i class="las la-star"></i> 4.5 <span class="hotel-view-contents-review-count"> (380) </span> </span>
                                        <h3 class="hotel-view-contents-title"> @Model.InternoCasa.Titulo </h3>
                                        <div class="hotel-view-contents-location mt-2">
                                            <span class="hotel-view-contents-location-icon"> <i class="las la-map-marker-alt"></i> </span>
                                            <span class="hotel-view-contents-location-para"> @Model.InternoCasa.Endereco </span>
                                        </div>
                                    </div>
                                    <div class="hotel-view-contents-middle">
                                        <div class="hotel-view-contents-flex">
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Car Parking">
                                                <i class="las la-parking"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Free Wifi">
                                                <i class="las la-wifi"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Free Breakfast">
                                                <i class="las la-coffee"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Home Service">
                                                <i class="las la-quidditch"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Swimming Pool">
                                                <i class="las la-swimming-pool"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Reception">
                                                <i class="las la-receipt"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Gym">
                                                <i class="las la-dumbbell"></i>
                                            </div>
                                            <div class="hotel-view-contents-icon">
                                                <a class="hotel-view-contents-icon-more" href="javascript:void(0)"> +8 More </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel-view-contents-bottom">
                                        <div class="hotel-view-contents-bottom-flex">
                                            <div class="hotel-view-contents-bottom-contents">
                                                <h4 class="hotel-view-contents-bottom-title"> @ViewData["ValorDiaria"] <sub>/Diaria</sub> </h4>
                                                <p class="hotel-view-contents-bottom-para"> (4 Nights, 2 Rooms, 4 Persons) </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hotel-details-widget hotel-details-widget-padding widget bg-white radius-10">
                            <div class="details-sidebar">
                                <div class="details-sidebar-offer center-text radius-10">
                                    <div class="details-sidebar-offer-shapes">
                                        <img src="/img/shots/img7.jpeg" alt="shapes">
                                    </div>
                                    <div class="details-sidebar-offer-thumb">
                                        <img src="/img/shots/img6.jpeg" alt="shapes">
                                    </div>
                                    <div class="btn-wrapper mt-5">
                                        <a href="javascript:void(0)" class="cmn-btn btn-bg-white"> Agende Agora </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <input type="hidden" name="returnUrl" value="@Request.Path@Request.QueryString" />
        </form>
    </section>

    <div class="back-to-top">
        <span class="back-top"> <i class="las la-angle-up"></i> </span>
    </div>


    <div class="mouse-move mouse-outer"></div>
    <div class="mouse-move mouse-inner"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var incrementButtons = document.querySelectorAll(".increment");
            var decrementButtons = document.querySelectorAll(".decrement");
            var quantityInputs = document.querySelectorAll(".quantity");
            var hiddenQuantityInputs = document.querySelectorAll("#quantidade");
            var totalValueElements = document.querySelectorAll(".total-value");





            // campos de entrada ocultos para todos os recursos
    for (var i = 0; i < incrementButtons.length; i++) {
        var recursoId = incrementButtons[i].dataset.id;

        var recursoIdInput = document.createElement("input");
        recursoIdInput.type = "hidden";
        recursoIdInput.name = "recursoId";
        recursoIdInput.value = recursoId;
        document.getElementById("dataForm").appendChild(recursoIdInput);

        var quantidadeInput = document.createElement("input");
        quantidadeInput.type = "hidden";
        quantidadeInput.name = "quantidade";
        quantidadeInput.value = 0;
        document.getElementById("dataForm").appendChild(quantidadeInput);
    }
          

             // Adicionar manipuladores de eventos aos botões "increment"
    incrementButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            var index = Array.from(incrementButtons).indexOf(button);
            var newValue = parseInt(quantityInputs[index].value) + 1;
            var max = parseInt(quantityInputs[index].dataset.max);
            if (newValue <= max) { // Verifica se o novo valor não excede o máximo
                quantityInputs[index].value = newValue;
                document.getElementsByName("quantidade")[index].value = newValue; // Atualiza o valor do campo de entrada oculto
                updateTotalValue(index);
            }
        });
    });

            function addHiddenRecursoId(index) {
                var recursoId = incrementButtons[index].dataset.id;
                // Verifica se um campo de entrada oculto para este ID de recurso já existe
                var existingInput = document.querySelector('input[name="recursoId"][value="' + recursoId + '"]');
                if (!existingInput) {
                    // Se não existir, cria um novo campo de entrada oculto
                    var recursoIdInput = document.createElement("input");
                    recursoIdInput.type = "hidden";
                    recursoIdInput.name = "recursoId";
                    recursoIdInput.value = recursoId;
                    document.getElementById("dataForm").appendChild(recursoIdInput);


                    // Cria um novo campo de entrada oculto para a quantidade
                    var quantidadeInput = document.createElement("input");
                    quantidadeInput.type = "hidden";
                    quantidadeInput.name = "quantidadeRecurso";
                    quantidadeInput.id = "quantidade";
                    quantidadeInput.value = quantityInputs[index].value;
                    document.getElementById("dataForm").appendChild(quantidadeInput);
                }
            }


            // Adicionar manipuladores de eventos aos botões "decrement"
            decrementButtons.forEach(function (button) {
    button.addEventListener("click", function () {
        var index = Array.from(decrementButtons).indexOf(button);
        var newValue = parseInt(quantityInputs[index].value) - 1;
        if (newValue >= 0) { // Verifica se o novo valor não é negativo
            quantityInputs[index].value = newValue;
            updateTotalValue(index);
            if (newValue > 0) {
                document.getElementsByName("quantidade")[index].value = newValue; // Atualiza o valor do campo de entrada oculto
            } else {
                removeHiddenRecursoId(index);
            }
        }
    });
});


            
            function removeHiddenRecursoId(index) {
    var recursoId = incrementButtons[index].dataset.id;
    // Seleciona o campo de entrada oculto para este ID de recurso
    var inputToRemove = document.querySelector('input[name="recursoId"][value="' + recursoId + '"]');
    if (inputToRemove) {
        // Se existir, remove o campo de entrada oculto
        inputToRemove.remove();
    }
    // Seleciona o campo de entrada oculto para esta quantidade
    var quantityInputToRemove = document.querySelector('input[name="quantidade"][id="quantidade' + recursoId + '"]');
    if (quantityInputToRemove) {
        // Se existir, remove o campo de entrada oculto
        quantityInputToRemove.remove();
    }
}

            function updateHiddenQuantity(index) {
                hiddenQuantityInputs[index].value = quantityInputs[index].value;
                //console.log(hiddenQuantityInputs[index].value);
            }

            function updateTotalValue(index) {
                var valor = parseFloat(quantityInputs[index].dataset.valor);
                var quantidade = parseInt(quantityInputs[index].value);
                var totalValue = valor * quantidade;
                totalValueElements[index].textContent = 'Total: R$' + totalValue.toFixed(2);
            }

            quantityInputs.forEach(function (input, index) {
                updateTotalValue(index);
            });
        });




        // Função para exibir o valor total na página
        function displayTotalValue() {
            const totalElement = document.getElementById('total'); // Supondo que você tenha um elemento com id 'total'
            totalElement.textContent = 'Valor Total: ' + totalValue.toFixed(2);
        }

        // Seleciona o campo de entrada de data
        var dataInput = document.getElementById("dataInput");

        // Adiciona um evento para detectar quando o valor do campo é alterado
        dataInput.addEventListener("change", function () {
            // Atualiza o valor do campo oculto 'dataReserva'
            document.getElementsByName('dataReserva')[0].value = this.value;
            // Envia automaticamente o formulário quando o valor do campo é alterado
            document.getElementById("dataForm").submit();
        });
    </script>

    @if (!String.IsNullOrEmpty(Model.ErroSwal))
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '@Html.Raw(Model.ErroSwal)',
                })
            });
        </script>
    }
</body>
</html>
